
:root {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vm0in;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dropdown{
  position: static !important;
}
.dropdown-menu {
  width: 100vw;
  height: 30vh;
  margin-left: 0;
  margin-top: 0;

}
.dropdown-menu > .container{
  display: flex !important;
  padding: 0;
  width: 100%;
  margin-left: 1em;
  margin-right: 1em;
}
.dropdown-menu > .container div:last-child{
  flex: .7;
}

.dropdown-menu > .container div:first-child{
  margin-left: 5em;
}