@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap');

:root {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vm0in;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

a:active, a:visited, a:link{
  background-color: white;
}

.dropdown{
  position: static !important;
  text-transform: capitalize;
}
.dropdown-menu {
  width: 100vw;
  height: 30vh;
  margin-left: 0;
  margin-top: 0;

}
.dropdown-menu > .container{
  display: flex !important;
  padding: 0;
  width: 100%;
  margin-left: 1em;
  margin-right: 1em;
}
.dropdown-menu > .container div:last-child{
  flex: .7;
}

.dropdown-menu > .container div:first-child{
  margin-left: 5em;
}


.promotional-content{

}
.promotional-content figure div{
  position: absolute;
  top: 10%;
  left: 20%;
}
.promotional-content h1{
  font-family: 'Abril Fatface', cursive;
  font-size: 8vw;
  font-style: italic;
  text-decoration-line: underline;
  letter-spacing: -1px;
  color: #fffefe;
  text-align: right;
} 
.promotional-content h2{
  font-size: 6vw;
  letter-spacing: -1px;
  color: #ab5434;
  font-family: 'Seaweed Script', cursive;
  text-align: right;
} 
.promotional-content button{
  margin-top: 35px;
  color: #ffffff;
  font-weight: 600;
  text-align: center;
  width: 9vw;
  height: 5vh;
  min-width: 150px;
  min-height: 35px;
  padding: 35px, 50px;
  background-color: #3f3a3e;
}